<h1>New restaurant</h1>

<div class="container">
<div class="col-6 offset-3">
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category, collection: Restaurant::CAT %>
    <%= f.submit 'Ajouter', class: 'btn btn-primary btn-block' %>
  <% end %>
  <%= link_to 'Back', restaurants_path %>
</div>
</div>


